<html>
  <body style="font-family: Arial, sans-serif; color: #222;">
    <h2>Ciao {{recipientName}}, hai ricevuto un invito su TableTalk!</h2>
    <p>{{senderName}} ti ha invitato a partecipare a un TableTalk.</p>
    <p>Messaggio: <em>{{message}}</em></p>
    <p>Per rispondere all'invito, accedi all'app e vai nella sezione "Inviti".</p>
    <br>
    <p>Buona conversazione!<br>Il team TableTalk</p>
  </body>
</html> 